/*
  ========================================
  Custom styles
  ========================================
*/

body {
  background: #fff;
  color: #000;
  font: 400 16px "Roboto", Arial, sans-serif;
  margin: 0;
  position: relative;
}

/*
  ========================================
  Container
  ========================================
*/

*,
*:before,
*:after {
  box-sizing: border-box;
}

.container {
  padding: 0 20px;
  &--XL {
    @include extra-large {
      padding: 0 40px;
    }    
  }
}

/*
  ========================================
  Links
  ========================================
*/

a {
  text-decoration: none;
  color: #000;
}
a:hover, 
a:active {
  color: #000;
}