/*
  ========================================
  Custom styles
  ========================================
*/

body {
  background: #fff;
  color: #000;
  font: 400 16px "Roboto", Arial, sans-serif;
}

/*
  ========================================
  Container
  ========================================
*/

*,
*:before,
*:after {
  box-sizing: border-box;
}

.container {
  padding: 0 20px;
}

/*
  ========================================
  Links
  ========================================
*/

a {
  text-decoration: none;
  color: #000;
}
a:hover, 
a:active {
  color: #000;
}