/*
  ========================================
  Keyframes
  ========================================
*/
@keyframes progress-heart {
  0% {
    transform: scale(0);
  }
  85% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes progress-command-check {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
@keyframes progress-fieldset {
  0% {
    opacity: 0;
    transform: translateY(30%);
  }
  75% {
    opacity: 1;
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes loading-spinner {
  60% {
    opacity: 1;
  }
  99% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}
@keyframes rotation-spinner {
  100% {
    transform: rotate(360deg);
  }
}
.loading-spinner {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 996;
  animation: loading-spinner 2500ms 300ms both;
}
.loading-spinner__bg {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 997;
  background: -webkit-linear-gradient(#9356DC, #FF79DA);
  background: -moz-linear-gradient(#9356DC, #FF79DA);
  background: linear-gradient(#9356DC, #FF79DA);
  opacity: 0.6;
}
.loading-spinner__icon {
  position: fixed;
  left: 50%;
  top: 42%;
  margin-top: -25px;
  margin-left: -25px;
  z-index: 998;
  font-size: 50px;
  color: #fff;
  animation: rotation-spinner 1500ms linear infinite;
}
.loading-spinner__name {
  position: fixed;
  left: 50%;
  top: 50%;
  margin-top: -22px;
  margin-left: -80.8125px;
  z-index: 999;
  font: 400 30px "Shrikhand", Arial, sans-serif;
  color: #fff;
  animation: progress-fieldset 1000ms both;
}

/*
  ========================================
  Custom styles
  ========================================
*/
body {
  background: #fff;
  color: #000;
  font: 400 16px "Roboto", Arial, sans-serif;
  margin: 0;
  position: relative;
}

/*
  ========================================
  Container
  ========================================
*/
*,
*:before,
*:after {
  box-sizing: border-box;
}

.container {
  padding: 0 20px;
}
@media all and (min-width: 1200px) {
  .container--XL {
    padding: 0 40px;
  }
}

/*
  ========================================
  Links
  ========================================
*/
a {
  text-decoration: none;
  color: #000;
}

a:hover,
a:active {
  color: #000;
}

/*
  ========================================
  Typography
  ========================================
*/
h1 {
  font: 400 30px "Shrikhand", Arial, sans-serif;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

/*
  ========================================
  Buttons
  ========================================
*/
/* --------- Default Buttons ---------- */
.default-btn {
  width: 220px;
  height: 50px;
  font: 400 16px "Roboto", Arial, sans-serif;
  border: none;
  border-radius: 35px;
  color: #fff;
  background: #9356DC;
  background: linear-gradient(to top, #9356DC, #FF79DA);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
.default-btn:hover {
  background: linear-gradient(to top, #975cdd, #ff81dc);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.28);
  cursor: pointer;
}
.default-btn:active {
  background: linear-gradient(to top, #975cdd, #ff81dc);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.28);
}

/* ----- Fonctionnement Buttons ------- */
.step-btn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  width: 87%;
  height: 75px;
  position: relative;
  padding-left: 6px;
  background-color: #f6f6f6;
  border-radius: 25px;
  box-shadow: 0 5px 8px #e5e5e5;
}
.step-btn__title {
  text-align: center;
  width: 60%;
}
.step-btn__number {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 25px;
  height: 25px;
  background-color: #9356DC;
  border-radius: 50%;
  color: #fff;
  font-size: 14px;
  position: absolute;
  left: -10px;
  z-index: 1;
}
.step-btn__icon {
  font-size: 16px;
  color: #7e7e7e;
  text-align: center;
  width: 20%;
  padding-left: 15px;
}
.step-btn__icon--size-1 {
  font-size: 20px;
}
.step-btn__icon--size-2 {
  font-size: 18px;
}
.step-btn:hover {
  background-color: #f5edff;
  cursor: pointer;
}
.step-btn:hover .step-btn__icon {
  color: #9356DC;
}
.step-btn:active {
  background-color: #f5edff;
}
.step-btn:active .step-btn__icon {
  color: #9356DC;
}

/* --------- Command Buttons ---------- */
.command-btn {
  background-color: #fff;
  border-radius: 15px;
  padding: 9px;
  margin: 0 15px 15px 15px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  transition-duration: 500ms;
  animation: progress-fieldset 1000ms both;
}
.command-btn:nth-of-type(2) {
  animation-delay: 200ms;
}
.command-btn:nth-of-type(3) {
  animation-delay: 300ms;
}
.command-btn:nth-of-type(4) {
  animation-delay: 400ms;
}
.command-btn__title {
  margin: 2px;
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.command-btn__description {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-right: 12px;
}
.command-btn__description p {
  margin: 2px;
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.command-btn__description p:first-child {
  width: 83.7%;
}
.command-btn__check {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  height: 100%;
  width: 60px;
  background-color: #99E2D0;
  color: #fff;
  font-size: 20px;
  opacity: 0;
  transform-origin: right;
}
.command-btn:hover {
  cursor: pointer;
  padding-right: 69px;
}
.command-btn:hover .command-btn__check {
  opacity: 1;
  animation: progress-command-check 500ms;
}
.command-btn:hover .fa-check-circle {
  transform: rotate(360deg);
  transition-duration: 500ms;
}
.command-btn:active {
  padding-right: 69px;
}
.command-btn:active .command-btn__check {
  opacity: 1;
  animation: progress-command-check 500ms;
}
.command-btn:active .fa-check-circle {
  transform: rotate(360deg);
  transition-duration: 500ms;
}

/*
  ========================================
  Cards
  ========================================
*/
.card {
  border-radius: 20px;
  width: 100%;
  height: 250px;
  margin: 20px 0;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transform: scale(1);
  transition: transform 400ms;
}
@media all and (min-width: 576px) {
  .card {
    width: 48.5%;
    margin-bottom: 0;
  }
}
.card:hover {
  cursor: pointer;
  transform: scale(1.02);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
.card:active {
  transform: scale(1.02);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
.card__area {
  position: relative;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 70%;
}
.card__area--new {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 85px;
  height: 30px;
  color: #008766;
  font-size: 14px;
  font-weight: 500;
  position: absolute;
  right: 0;
  background-color: #99E2D0;
  margin: 15px;
  border-radius: 3px;
}
.card__img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
  object-position: 0 bottom;
}
.card__img--positioning {
  object-position: 0 -39.47vw;
}
@media all and (min-width: 576px) {
  .card__img--positioning {
    object-position: 0 center;
  }
}
.card__caption {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  height: 30%;
  display: flex;
  background-color: #fff;
}
.card__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 85%;
  height: 100%;
  padding-left: 10px;
}
.card__description h3, .card__description p {
  margin: 0;
  padding: 2px 0;
}
.card__heart {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-size: 24px;
  position: relative;
  width: 15%;
}
.card__heart .fas {
  position: absolute;
  z-index: 1;
  opacity: 0;
  background: #9356DC;
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  transform-origin: bottom;
}
.card__heart .far {
  position: absolute;
  z-index: 2;
  opacity: 1;
  transition: opacity 300ms ease-in;
}
.card__heart .far:hover {
  opacity: 0;
  cursor: pointer;
}
.card__heart .far:hover + .fas {
  opacity: 1;
  animation: progress-heart 300ms ease-in;
}
.card__heart .far:active {
  opacity: 0;
  cursor: pointer;
}
.card__heart .far:active + .fas {
  opacity: 1;
  animation: progress-heart 300ms ease-in;
}

/*
  ========================================
  HEADER
  ========================================
*/
header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 65px;
  position: relative;
}
header .arrow-left {
  position: absolute;
  left: 20px;
  font-size: 20px;
}
header .fas {
  color: #353535;
}

/*
  ========================================
  FOOTER
  ========================================
*/
.footer {
  height: 200px;
  background-color: #353535;
  color: #fff;
  padding-left: 25px;
}
.footer__title {
  margin: 0;
  padding-top: 20px;
  font: 18px "Shrikhand", Arial, sans-serif;
}
.footer__list {
  padding: 0;
  list-style: none;
  line-height: 26px;
}
.footer__list li {
  display: flex;
  width: 100%;
}
.footer__list a {
  color: #fff;
}
.footer__icon {
  width: 24px;
  font-size: 12px;
}

/*
  ========================================
  Menu
  ========================================
*/
/* ---------- Logo + Title ------------ */
.menu {
  box-shadow: inset 0px 5px 5px -5px rgba(0, 0, 0, 0.25);
}
.menu__logo {
  height: 270px;
  width: 100%;
  margin-bottom: -50px;
  position: relative;
  z-index: -1;
}
.menu__logo--img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.menu__heading {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #f6f6f6;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  padding-top: 7px;
  padding-bottom: 8px;
}
.menu__title {
  font: 400 28px "Shrikhand", Arial, sans-serif;
  width: auto;
}
.menu__heart {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-size: 24px;
  position: relative;
  padding-right: 20px;
}
.menu__heart .fas {
  position: absolute;
  z-index: 1;
  opacity: 0;
  background: #9356DC;
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  transform-origin: bottom;
}
.menu__heart .far {
  position: absolute;
  z-index: 2;
  opacity: 1;
  transition: opacity 300ms ease-in;
}
.menu__heart .far:hover {
  opacity: 0;
  cursor: pointer;
}
.menu__heart .far:hover + .fas {
  opacity: 1;
  animation: progress-heart 300ms ease-in;
}
.menu__heart .far:active {
  opacity: 0;
  cursor: pointer;
}
.menu__heart .far:active + .fas {
  opacity: 1;
  animation: progress-heart 300ms ease-in;
}

/* ---------- Command Form ------------ */
.command-form {
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.command-form__btn {
  margin: 30px 0 58px 0;
  width: 185px;
}

.command-fullset {
  width: 100%;
}
@media all and (min-width: 992px) {
  .command-fullset {
    display: flex;
    padding: 0 20px;
  }
}

.command-fieldset {
  width: 100%;
  min-inline-size: auto;
  border: none;
  padding: 0;
}
@media all and (min-width: 992px) {
  .command-fieldset {
    max-width: 33.33%;
  }
}
.command-fieldset__title {
  margin: 0;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
}
.command-fieldset__title::after {
  content: "";
  display: block;
  width: 40px;
  background-color: #99E2D0;
  height: 3px;
  margin: 5px 0 15px 0;
}

/*
  ========================================
  HERO
  ========================================
*/
/* ----------- Search Form ------------ */
.search-form {
  background-color: #f6f6f6;
  height: 340px;
  text-align: center;
  overflow: auto;
}
.search-form fieldset {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 50px;
  box-shadow: inset 0px 5px 5px -5px rgba(0, 0, 0, 0.25);
  border: none;
  margin: 0;
  padding: 0;
  background-color: #eaeaea;
}
.search-form__bar {
  width: 130px;
  border: none;
  outline: none;
  background-color: #eaeaea;
  margin-left: 10px;
}
.search-form__bar::placeholder {
  color: #353535;
  font-weight: 500;
}
.search-form__title {
  padding: 15px 45px 0 45px;
}
.search-form__description {
  font-size: 18px;
  margin-top: -5px;
  margin-bottom: 30px;
  padding: 0 20px;
  color: #353535;
}

/*
  ========================================
  MAIN CONTENT
  ========================================
*/
@media all and (min-width: 992px) {
  .main-content {
    display: flex;
    flex-direction: row;
    background-color: #f6f6f6;
  }
}

/* ---------- Fonctionnement ---------- */
.fonctionnement {
  height: 400px;
}
@media all and (min-width: 992px) {
  .fonctionnement {
    background-color: #fff;
    height: 666px;
  }
}
.fonctionnement__title {
  margin: 45px 0 0 20px;
}
.fonctionnement__steps-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 270px;
  margin-top: 30px;
}
@media all and (min-width: 992px) {
  .fonctionnement {
    width: 33.33%;
    margin-left: 20px;
    margin-right: 10px;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  }
}

/* ----------- Restaurants ------------ */
.restaurants {
  background-color: #f6f6f6;
  height: 1230px;
}
.restaurants__title {
  padding: 52px 0 0 20px;
  margin: 0;
}
@media all and (min-width: 992px) {
  .restaurants__title {
    padding-top: 45px;
  }
}
@media all and (min-width: 576px) {
  .restaurants__row {
    display: flex;
    justify-content: space-between;
  }
}
@media all and (min-width: 576px) {
  .restaurants__row--last {
    padding-bottom: 52px;
  }
}
@media all and (min-width: 576px) {
  .restaurants {
    height: auto;
  }
}
@media all and (min-width: 992px) {
  .restaurants {
    width: 66.66%;
    background-color: #fff;
    margin-left: 10px;
    margin-right: 20px;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  }
}

/*# sourceMappingURL=style.css.map */
