/*
  ========================================
  Buttons
  ========================================
*/

/* --------- Default Buttons ---------- */
.default-btn {
  @include default-btn-style;
  background: linear-gradient(to top, $primary-color, $secondary-color);
  @include default-btn-animation;
}

/* ----- Fonctionnement Buttons ------- */
.step-btn {
  @include step-btn-style;
  width: 87%;
  background-color: $back-color;  
  box-shadow: 0 5px 8px lighten($base-color, 89.7%);  
  @include step-btn-animation;
  &__title {
    text-align: center;
    width: 60%;  
  }  
  &__number {
    @include flexbox;
    width: 25px;
    height: 25px;    
    background-color: $primary-color;
    border-radius: 50%;
    color: #fff;
    font-size: 14px;
    position: absolute;
    left: -10px;
    z-index: 2;
  }
  &__icon {
    font-size: 16px;
    color: lighten($base-color, 49.3%);
    text-align: center;
    width: 20%;
    padding-left: 15px; 
    &--size-1 {
      font-size: 20px;
    }
    &--size-2 {
      font-size: 18px;
    }
  }
}

/* --------- Command Buttons ---------- */
.command-btn {
  background-color: #fff;
  border-radius: 15px;
  padding: 9px;
  margin: 0 15px 15px 15px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .1);    
  @include command-btn-rise-up-animation;
  @include command-btn-check-animation;
  &__title {
    margin: 2px;
    font-size: 18px;
    font-weight: 500;
    @include ellipses-text;
  }
  &__description {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-right: 12px;
    p {
      margin: 2px;
      font-size: 15px;
      @include ellipses-text;
    }
    p:first-child {
      width: 83.7%;
    }
  }
}