/*
  ========================================
  Keyframes
  ========================================
*/

// Progress Heart
@keyframes progress-heart {
  0% {
    transform: scale(0);
  }
  85% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

// Progress Command Check
@keyframes progress-command-check {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

@keyframes progress-fieldset {
  0% {
    opacity: 0;
    transform: translateY(30%);
  }
  75% {
    opacity: 1;
  }
  100% {    
    transform: translateY(0);
  }
}

// Animation: Loading Spinner
@keyframes loading-spinner {
  60% {
    opacity: 1;    
  }
  99% {
    transform: scale(1);
  }  
  100% {
    transform: scale(0);
    opacity: 0;
  }
}
@keyframes rotation-spinner {
  100% {
    transform: rotate(360deg);
  }
}

.loading-spinner {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 996;
  animation: loading-spinner 2500ms 300ms both;    
  &__bg {  
    width: 100%;
    height: 100%;
    position: fixed;  
    z-index: 997;
    background: -webkit-linear-gradient($primary-color, $secondary-color);
    background:    -moz-linear-gradient($primary-color, $secondary-color);
    background:         linear-gradient($primary-color, $secondary-color);
    opacity: .6;
  }
  &__icon {  
    position: fixed;
    left: 50%;
    top: 42%;
    margin-top: -25px;
    margin-left: -25px;
    z-index: 998;
    font-size: 50px;
    color: #fff;
    animation: rotation-spinner 1500ms linear infinite;     
  }
  &__name {
    position: fixed;
    left: 50%;
    top: 50%;
    margin-top: -22px;
    margin-left: -80.8125px;
    z-index: 999;
    font: 400 30px "Shrikhand", Arial, sans-serif;
    color: #fff;
    animation: progress-fieldset 1000ms both;
  }
}