// Flexbox
@mixin flexbox ($justify: center, $align: center, $direction: row) {
  display: flex;  
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

// Breakpoints
@mixin small { 
  @media all and (min-width: $small) { 
    @content;
  } 
}
@mixin medium { 
  @media all and (min-width: $medium) { 
    @content;
  } 
}
@mixin large { 
  @media all and (min-width: $large) { 
    @content;
  } 
}
@mixin extra-large { 
  @media all and (min-width: $extra-large) { 
    @content;
  } 
}

// Border-top-radius
@mixin rounded-top ($curving-value: 20px) {
  border-top-left-radius: $curving-value;
  border-top-right-radius: $curving-value;
}

