// Flexbox
@mixin flexbox ($justify: center, $align: center, $direction: row) {
  display: flex;  
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

// Breakpoints
@mixin small { 
  @media all and (min-width: $small) { 
    @content;
  } 
}
@mixin medium { 
  @media all and (min-width: $medium) { 
    @content;
  } 
}
@mixin large { 
  @media all and (min-width: $large) { 
    @content;
  } 
}
@mixin extra-large { 
  @media all and (min-width: $extra-large) { 
    @content;
  } 
}

// Border-radius
@mixin rounded-top ($curving-value: 20px) {
  border-top-left-radius: $curving-value;
  border-top-right-radius: $curving-value;
}
@mixin rounded-bottom ($curving-value: 20px) {
  border-bottom-left-radius: $curving-value;
  border-bottom-right-radius: $curving-value;
}
@mixin rounded-right ($curving-value: 15px) {
  border-top-right-radius: $curving-value;
  border-bottom-right-radius: $curving-value;
}

// Ellipses in text
@mixin ellipses-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// Animation: Progress Heart
@mixin progress-heart {
  @include flexbox;
  font-size: 24px;
  position: relative;
  .fas {
    position: absolute;
    z-index: 1;
    opacity: 0;
    background: $primary-color;            
    background: linear-gradient($primary-color, $secondary-color);
    -webkit-background-clip: text;
       -moz-background-clip: text;
            background-clip: text;
    color: transparent;
    transform-origin: bottom;
  } 
  .far {
    position: absolute;
    z-index: 2;
    opacity: 1;      
    transition: opacity 300ms ease-in;
    &:hover {        
      opacity: 0;
      cursor: pointer;        
      + .fas {
        opacity: 1;          
        animation: progress-heart 300ms ease-in;          
      }
    }
    &:active {        
      opacity: 0;
      cursor: pointer;        
      + .fas {
        opacity: 1;          
        animation: progress-heart 300ms ease-in;          
      }
    }           
  }
}

