/*
  ========================================
  MAIN CONTENT
  ========================================
*/

.main-content {
  @include large {
    display: flex;
    flex-direction: row;
    background-color: #f6f6f6;   
  }
}

/* ---------- Fonctionnement ---------- */

.fonctionnement {
  height: 400px;
  @include large {
    background-color: #fff;
    height: 666px;
  }      
  &__title {
    margin: 45px 0 0 20px;       
  }
  &__steps-list {     
    @include central;
    flex-direction: column;
    justify-content: space-between; 
    height: 270px;
    margin-top: 30px;
  }
  @include large {
    width: 33.33%;    
    margin-left: 20px;
    margin-right: 10px;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    box-shadow: 0px 5px 15px rgb(0, 0, 0, .1);    
  } 
}

.step {
  @include central;
  justify-content: flex-start;
  width: 87%;
  height: 75px;
  position: relative;    
  padding-left: 6px;   
  background-color: #f6f6f6;
  border-radius: 25px;
  box-shadow: 0 5px 8px #e5e5e5;  
  &__title {
    text-align: center;
    width: 60%;  
  }  
  &__number {
    @include central;
    width: 25px;
    height: 25px;    
    background-color: $primary-color;
    border-radius: 50%;
    color: #fff;
    font-size: 14px;
    position: absolute;
    left: -10px;
    z-index: 1;
  }
  &__icon {
    font-size: 16px;
    color: #7e7e7e;
    text-align: center;
    width: 20%;
    padding-left: 15px; 

    &--size-1 {
      font-size: 20px;
    }
    &--size-2 {
      font-size: 18px;
    }
  }     
  &:hover {
    background-color: #f5edff;
    cursor: pointer;
    .step__icon {
      color: $primary-color;
    }
  }  
}

/* ----------- Restaurants ------------ */

.restaurants {
  background-color: #f6f6f6;
  height: 1230px;    
  &__title {
    padding: 52px 0 0 20px;
    margin: 0;
    @include large {
      padding-top: 45px;
    }    
  }
  &__row {
    @include small { 
      display: flex;
      justify-content: space-between;            
    }
    &--last {
      @include small { 
        padding-bottom: 52px;            
      }
    }
  }
  @include small { 
    height: auto;    
  }
  @include large {
    width: 66.66%;
    background-color: #fff;
    margin-left: 10px;
    margin-right: 20px;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    box-shadow: 0px 5px 15px rgb(0, 0, 0, .1);
  }  
}

.card {
  border-radius: 20px;
  width: 100%;  
  height: 250px;
  margin: 20px 0;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .1);  
  @include small { 
    width: 48.5%;
    margin-bottom: 0;
  } 
  &:hover {
    cursor: pointer;
  } 
  &__area {    
    position: relative;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    height: 70%;   
    &--new {
      @include central;
      width: 85px;
      height: 30px;
      color: #008766;
      font-size: 14px;
      font-weight: 500;
      position: absolute;
      right: 0;
      background-color: $tertiary-color;
      margin: 15px;
      border-radius: 3px;      
    }
  }
  &__img {      
    width: 100%;
    height: 100%;   
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
    object-position: 0 bottom;    
    &--positioning {
      object-position: 0 -39.47vw;
      @include small { 
        object-position: 0 center;
      } 
    }      
  }  
  &__caption {    
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    height: 30%;
    display: flex;
    background-color: #fff;    
  }
  &__description {      
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 85%;
    height: 100%;
    padding-left: 10px;
    h3, p {
      margin: 0;
      padding: 2px 0;
    }    
  }
  &__heart {
    @include central;
    width: 15%;
    font-size: 24px;
    &:hover {
      color: $primary-color;
    }    
  }  
}